body{font-family: "Microsoft YaHei","SimHei","SimSun";/*background: #7F7F7F;*/padding: 0px;margin:0px;}
ul{padding: 0px;margin: 0px;}
a{text-decoration: none;}
span{display: inline-block;}

.fontHuge{font-size:120px;}
.fontLarge{font-size:60px;}
.fontMiddle{font-size:40px;}
.fontSmall{font-size:18px;}
.fontTiny{font-size:14px;}

.container{padding:0px;width: 1180px;margin: 0 auto;}
.pull-left{float:left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}

.topBar{width:100%;height:64px;background:rgba(0,0,0,0.3);background-color:#7F7F7F;position:absolute;z-index: 10;min-width: 650px;overflow: hidden;}
.topBar li{list-style-type:none;float: left;color:#FFF;height: 64px;text-align: center;padding: 0px;padding-top: 18px;}
.topBar li a{color:#FFF;width: 160px;height: 100%;display: block; font-size: 24px;}
.topBar span{float:left; font-size: 48px; color: #FFF;}
.topBar .logoR7{padding-top: 0px;width: 200px;}
.topBar .active{background-color:#222;background: rgba(0,0,0,0.5);}

.pagesContianer{height:100%;z-index: 9;display: none; top:64px;}
.page{width:100%;height:100%;background:50% 50% no-repeat;background-size: cover;}
.pageBackground{width: 100%;height: 100%;}
.pageContent{width:1180px;position: absolute;left: 50%;margin-left: -500px;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;}

#page1 .pageBackground{background-color:#66ffcc;}
#page2 .pageBackground{background-color:#96e980;}
#page3 .pageBackground{background-color:#ccff66;}
#page4 .pageBackground{background-color:#ffcc66;}
#page5 .pageBackground{background-color:#dee661;}