@CHARSET "UTF-8";
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {margin: 0;padding: 0}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {display: block}
audio,
canvas,
video {display: inline-block;*display: inline;*zoom: 1}
body,
button,
input,
select,
textarea {font: 12px/1.5 Arial, Helvetica, sans-serif}
input,
select,
textarea {font-size: 100%}
table {border-collapse: collapse;border-spacing: 0}
th {text-align: inherit}
fieldset,
img,
a img {border: 0 none}
iframe {display: block}
abbr,
acronym {border: 0;font-variant: normal}
del {text-decoration: line-through}
address,
caption,
cite,
code,
dfn,
em,
th,
var {font-style: normal;font-weight: 400}
ol,
ul {list-style: none}
caption,
th {text-align: left}
h1,
h2,
h3,
h4,
h5,
h6 {font-size: 100%;font-weight: 400}
q:before,
q:after {content: ''}
sub,
sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
ins,
a {text-decoration: none;color: #333}
a {cursor: pointer}
a:hover {text-decoration: underline}
:focus {outline: 0}
.u {text-decoration: underline}
.fl,
.left,
.left-area {float: left}
.fr,
.right,
.right-area {float: right}
.bold {font-weight: 700}
.black {color: #333}
.green {color: #98ba2a}
.red {color: #e01d20}
.blue {color: #00f}
.honor-blue {color: #00b5e2}
.gray {color: #c0c0c0}
.yellow {color: #ff0}
.clear {clear: both}
.lh0 {font-size: 0;line-height: 0}
.hide,
.hidden {display: none}
.show {display: block}
.tal {text-align: left}
.tac,
.center {text-align: center}
.taj {text-align: justify}
.tar {text-align: right}
.vat {vertical-align: top}
.f12 {font-size: 12px}
.f14 {font-size: 14px}
.f16 {font-size: 16px}
.f20 {font-size: 20px}
.f24 {font-size: 24px}
.fcn {font-family: \5b8b\4f53}
.pointer {cursor: pointer}
.inline-block {display: inline-block;*zoom: 1;*display: inline}
.vam {vertical-align: middle}
.vat {vertical-align: top}
.vab {vertical-align: bottom}
label.vam {vertical-align: middle;font-family: tahoma}
button {width: auto;overflow: visible}
.clearfix:before,
.clearfix:after {content: " ";display: table}
.clearfix:after {clear: both}
.clearfix {*zoom: 1}
.ime-disabled {ime-mode: disabled!important}
.relative {position: relative}
.text-hide {height: 0;width: 0;font-size: 0;text-indent: -9999px;overflow: hidden}
.text-hidden {display: block;text-indent: -9999px}
.span-20 {width: 20px}
.span-30 {width: 30px}
.span-40 {width: 40px}
.span-50 {width: 50px}
.span-60 {width: 80px}
.span-70 {width: 70px}
.span-80 {width: 80px}
.span-90 {width: 90px}
.span-100 {width: 100px}
.span-110 {width: 110px}
.span-120 {width: 120px}
.span-130 {width: 130px}
.span-140 {width: 140px}
.span-150 {width: 150px}
.span-200 {width: 200px}
.span-250 {width: 250px}
.span-300 {width: 300px}
.span-400 {width: 400px}
.span-480 {width: 480px}
.span-500 {width: 500px}
.hr-1 {height: 1px}
.hr-2 {height: 2px}
.hr-3 {height: 3px}
.hr-4 {height: 4px}
.hr-5 {height: 5px}
.hr-7 {height: 7px}
.hr-9 {height: 9px}
.hr-10 {height: 10px}
.hr-15 {height: 15px}
.hr-20 {height: 20px}
.hr-22 {height: 22px}
.hr-25 {height: 25px}
.hr-30 {height: 30px}
.hr-35 {height: 35px}
.hr-40 {height: 40px}
.hr-45 {height: 45px}
.hr-50 {height: 50px}
.hr-55 {height: 55px}
.hr-60 {height: 60px}
.hr-65 {height: 65px}
.hr-70 {height: 70px}
.hr-75 {height: 75px}
.hr-80 {height: 80px}
.hr-85 {height: 85px}
.hr-90 {height: 90px}
.hr-1,
.hr-2,
.hr-3,
.hr-4,
.hr-5,
.hr-7,
.hr-9,
.hr-10,
.hr-15,
.hr-20,
.hr-22,
.hr-25,
.hr-30,
.hr-35,
.hr-40,
.hr-45,
.hr-50,
.hr-55,
.hr-60,
.hr-65,
.hr-70,
.hr-75,
.hr-80,
.hr-85,
.hr-90 {clear: both;font-size: 1px;line-height: 1px}
.pdt-15 {padding-top: 15px!important}
.pdt-20 {padding-top: 20px!important}
html {color: #333;background: #fff}
.g {width: 1002px;margin: 0 auto;zoom: 1}
.g:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;overflow: hidden}
.u-1-4 {width: 254px}
.u-3-4 {width: 731px;overflow: hidden;position: relative;z-index: 2}
.system-error .u-3-4 {width: 954px;margin: 0 auto;overflow: hidden}
.u-1-5 {width: 183px}
.u-4-5 {width: 800px}
.u-1-2 {width: 50%}
.layout:before,
.layout:after {content: "";display: table}
.layout:after {clear: both}
.layout {*zoom: 1;width: 1000px;margin: 0 auto}
.stock-area a {font-size: 1px;line-height: 1px;border: 1px solid #aeaeae}
.stock-area a span {display: none}
.stock-area input {border: 1px solid #cdcdcd;width: 33px;text-align: center;margin: 0 5px;padding: 1px!important;height: 15px!important;line-height: 15px!important}
.stock-area input:focus {border-color: #28c0c6!important;position: relative}
