doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src="/js/jquery-2.2.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/angular.min.js")
		block pagejs